
#sub-view {
  @include vendor-prefix(transition, 0.3s linear opacity);
  position: absolute;
  width: 960px;
}

#sub-view {
  &.ng-enter {
    @include vendor-prefix(transition-delay, 0.1s);
    opacity: 0;
  }

  &.ng-enter.ng-enter-active {
    opacity: 1;
  }


  &.ng-leave {
    @include vendor-prefix(transition, 0.1s linear opacity);
    opacity: 1;
  }

  &.ng-leave.ng-leave-active {
    opacity: 0;
  }
}

section.contact {
  @include vendor-prefix(transition, 0.3s ease-out height);
  height: 0px;
  overflow: hidden;
}

section.contact.active {
  height: 60px;
}

header nav ul li {
  &.ng-enter {
    @include vendor-prefix(transition, 1s ease-out all);
    opacity: 0;
  }

  &.ng-enter-active {
    opacity: 1;
  }

  a {
    @include vendor-prefix(transition, 0.3s ease-out all);
  }
}

nav.boxes ul li div.overlay {
  @include vendor-prefix(transition, 0.28s ease-in opacity);
}

nav.boxes ul li {
  &.ng-enter {
    @include vendor-prefix(transition, 0.3s ease-in all);
    @include vendor-prefix(transform, scale(0.8));
    opacity:0;
  }

  &.ng-enter-stagger {
    @include vendor-prefix(transition-delay, 0.09s);
    @include vendor-prefix(transition-duration, 0s);
  }

  &.ng-enter.ng-enter-active {
    opacity:1;
    @include vendor-prefix(transform, scale(1));
  }
}

nav.boxes-items ul li:hover a {
  @include vendor-prefix(transform, translate3d(0, 0, 0));
}

nav.boxes-items ul li a {
  @include vendor-prefix(transform, translate3d(0, 165px, 0));
  @include vendor-prefix(transition, 0.2s ease-out all);
}