
body {
  background-color: $page-background-color;
  color: $text-body-color;
  font: $font-regular;
  margin: 0;
}

a { color: $text-menu-highlight-color; }

div.aligner {
  margin: 0 auto;
  width: 100%;
  max-width: 1040px;
  padding: 0 40px;
}

section.content {
  //@extend div.aligner;
}

section.contact {
  background: #000;
  width: 100%;
  height: 80px;
  display: block;
}

header {
  position: relative;
  height: 95px;

  figure {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;

    img { border: 0px; }
  }

  menu {
    padding: 20px 0;
    margin-bottom: 13px;

    menuitem {
      cursor: pointer;

      &:first-child {
        margin-right: 30px;
      }

      a {
        font: $font-regular;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }

  nav {
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        float: left;
        margin-right: 30px;

        a {
          font: $font-bold;
          color: $text-menu-color;
          display: block;
          text-decoration: none;
          text-transform: uppercase;
          border-bottom: 1px solid transparent;
          cursor: pointer;

          &:hover, &.active {
            color: $text-menu-highlight-color;
            border-color: $text-menu-highlight-color;
          }
        }

      }

      &:after {
        content: '.';
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
      }

    }
  }
}

main {
  h1 {
    font: $font-thin;
    color: $text-header-color;
  }

  section.body {
    margin-top: 60px;
  }

  section.body-short {
    @extend section.body;
    width: 100%;
    max-width: 800px;
  }
}