
body {
  background-color: $page-background-color;
  color: $text-body-color;
  font: $font-regular;
  margin: 0;
}

a { color: $text-menu-highlight-color; }

div.aligner {
  @include clearFix();
  margin: 0 auto;
  width: 100%;
  max-width: 1040px;
  padding: 0 40px;

  @media screen and (max-width:720px) {
    padding: 0 20px;
  }
}

#page, section.content {
  @include clearFix();
}

header {
  position: relative;
  height: 95px;

  figure {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;

    img {
      border: 0px;
      @media screen and (max-width:720px) {
        width: 90px;
      }
    }
  }

  menu {
    padding: 20px 0;
    margin-bottom: 13px;

    menuitem {
      cursor: pointer;

      &:first-child {
        margin-right: 30px;
      }

      a {
        font: $font-regular;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }

  nav {

    ul.mobile {
      display: none;
      padding: 0;

      @media screen and (max-width:720px) {
        display: block;
      }

      li {
        list-style: none;
        margin: 0;

        a {
          text-transform: uppercase;
          color: #33ccff;
          text-decoration: none;
          font-size: 16px;
          cursor: pointer;

          &:before {
            content: "< ";
            display: block;
            float: left;
            margin: -1px 0 0 0;
            padding-right: 10px;
          }
        }
      }
    }

    ul.screen {
      @media screen and (max-width:720px) {
        display: none;
      }

      margin: 0;
      padding: 0 70px 0 0;

      li {
        list-style: none;
        float: left;
        margin: 0 30px 5px 0;

        a {
          font: $font-bold;
          color: $text-menu-color;
          display: block;
          text-decoration: none;
          text-transform: uppercase;
          border-bottom: 1px solid transparent;
          cursor: pointer;
          line-height: 25px;

          &:hover, &.active {
            color: $text-menu-highlight-color;
            border-color: $text-menu-highlight-color;
          }
        }

      }

      &:after {
        content: '.';
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
      }

    }
  }
}

main {
  h1 {
    font: $font-thin;
    color: $text-header-color;

    @media screen and (max-width:720px) {
      font-size: 32px;
      line-height: 36px;
    }
  }

  h2 {
    @extend h1;
    font: 400 24px/40px 'Helvetica Neue'
  }

  section.body {
    margin-top: 60px;

    @media screen and (max-width:720px) {
      margin-top: 30px;
    }
  }

  section.body-short {
    @extend section.body;
    width: 100%;
    max-width: 800px;
  }
}