
$page-background-color: #1a1b24;
$text-header-color: #33cccc;
$text-highlight-color: #33ccff;
$text-menu-color: #256682;
$text-menu-highlight-color: #fff;
$text-body-color: #cccccc;

$font-regular: 300 12px/30px 'Helvetica Neue';
$font-bold: 600 12px/30px 'Helvetica Neue';
$font-thin: 100 12px/30px 'Helvetica Neue';

@import "page";