
<section class="body-short" ng-bind-html="content.categoryDetails.body"></section>

<nav class="boxes-items">
    <ul>
        <li ng-repeat="item in content.categoryItems">
            <img ng-src="{{item.thumbnail}}" alt="{{item.title}}" />
            <a href="#/category/{{category.id}}/{{item.id}}">
                <p>{{item.title}}<br />{{item.description}}<br /><span class="faded">{{item.agency}}</span></p>
            </a>
            <div class="overlay"></div>
        </li>
    </ul>
</nav>