<div class="aligner">
    <section class="body"><h1 ng-bind="content.item.title"></h1></section>

    <div id="media-wrapper">
        <iframe id="item-media" type="text/html" ng-src="{{content.mediaUri}}" allowfullscreen frameborder="0"></iframe>
    </div>

    <section class="details">
        <span class="label">Client</span>
		<span class="value">{{content.item.client}}</span>

        <span class="label">Director</span>
		<span class="value">{{content.item.director}}</span>

        <span class="label">Agency</span>
		<span class="value">{{content.item.agency}}</span>

        <span class="label spaced">Share</span>
        <a class="twitter-link" href="#"></a>
        <a class="facebook-link" href="#"></a>
        <a class="youtube-link" href="#"></a>
        <a class="google-link" href="#"></a>
    </section>

    <p class="abstract">
        {{content.item.body}}
    </p>
</div>

<footer>
    <div class="aligner">
        <nav class="boxes-items">
            <ul>
                <li ng-repeat="item in content.siblings">
                    <img ng-src="{{item.thumbnail}}" alt="{{item.title}}" />
                    <div class="hover-wrapper">
                        <a href="#/category/{{content.categoryId}}/{{item.id}}">
                            <p>{{item.title}}<br />{{item.description}}<br /><span class="faded">{{item.agency}}</span></p>
                        </a>
                    </div>
                    <div class="overlay"></div>
                </li>
            </ul>
        </nav>
    </div>
</footer>