
<section class="body-short"><h1 ng-bind="content.categoryDetails.body"></h1></section>

<nav class="boxes-items">
    <ul>
        <li ng-repeat="item in content.categoryItems">
            <img ng-src="{{item.thumbnail}}" alt="{{item.title}}" />
            <a href="#/category/{{item.category_id}}/{{item.id}}">
                <p>{{item.title}}<br />{{item.description}}<br /><span class="faded">{{item.agency}}</span></p>
            </a>
            <div class="overlay"></div>
        </li>
    </ul>
</nav>