<section class="contact" ng-class="{ active: contactVisible }">
    <div class="aligner">
        asdkahjs dkash dkjash dasjkhd askj
    </div>
</section>

<section class="content">
    <header>
        <menu>
            <menuitem ng-show="!!content.items"><a href="#/about">About us</a></menuitem>
            <menuitem ng-show="!!content.items"><a ng-click="contactVisible = !contactVisible">Contact</a></menuitem>
        </menu>

        <nav>
            <ul>
                <li ng-repeat="category in content.items" ng-animate="">
                    <a ng-class="{ active: isActive('{{category.id}}') }" href="#/category/{{category.id}}">
                        {{category.title}}
                    </a>
                </li>
            </ul>
        </nav>

        <figure><a href="#/"><img src="assets/logo.png" alt="Room24 logo"/></a></figure>

        <strong ng-show="network.error">{{network.error}}</strong>
        <strong ng-show="network.active">Loading...</strong>

    </header>

    <main id="sub-view" ui-view>
        <section class="body"><h1 ng-bind="content.page.body"></h1></section>

        <nav ng-class="content.boxClass">
            <ul>
                <li ng-repeat="category in content.items">
                    <img ng-src="{{category.thumbnail}}" alt="{{category.title}}" />

                    <a ng-hide="!!category.category_id" href="#/category/{{category.id}}">
                        <p>{{category.title}}</p>
                    </a>

                    <a ng-hide="!category.category_id" href="#/category/{{category.category_id}}/{{category.id}}">
                        <p>{{category.title}}<br />{{category.description}}<br /><span class="faded">{{category.agency}}</span></p>
                    </a>
                    <div class="overlay"></div>
                </li>
            </ul>
        </nav>
    </main>
</section>