<section class="contact" ng-class="{ active: contactVisible }">
    <div class="aligner">
        <span class="phone first"><a ng-href="tel:{{content.slides[0].contact.phone}}">Phone<span class="mobile-hide">: {{content.slides[0].contact.phone}}</span></a></span>
        <span class="email"><a ng-href="mailto:{{content.slides[0].contact.email}}">Email<span class="mobile-hide">: {{content.slides[0].contact.email}}</span></a></span>
        <span class="map_link"><a target="_blank" ng-href="{{content.slides[0].contact.map_link}}">Location<span class="mobile-hide">: View</span></a></span>
    </div>
</section>

<section class="content">
    <div class="aligner">
        <header>
            <menu>
                <menuitem ng-show="!!content.categories"><a href="#/about">About us</a></menuitem>
                <menuitem ng-show="!!content.categories"><a ng-click="contactVisible = !contactVisible">Contact</a></menuitem>
            </menu>

            <nav>
                <ul ng-show="content.activeSlide != 0 || !backButtonText" class="mobile">
                    <li><a ng-click="goBack()">{{backButtonText}}</a></li>
                </ul>

                <ul class="screen">
                    <li ng-repeat="category in content.categories">
                        <a ng-class="{ active: isActive($index) }" ng-href="#/?slide={{$index + 1}}">
                            {{category.title}}
                        </a>
                    </li>
                </ul>
            </nav>

            <figure><a href="#/" ng-click="content.activeSlide = 0"><img src="assets/logo.png" alt="Room24 logo"/></a></figure>

            <strong ng-show="network.error">{{network.error}}</strong>
            <strong ng-show="network.active">Loading...</strong>

        </header>
    </div>
    <main id="sub-view" ui-view>
        <div class="aligner">
            <nav-box ng-model="content.slides[content.activeSlide]" active-slide="content.activeSlide"></nav-box>
        </div>
    </main>
</section>