
<header>

    <menu ng-show="!!categories">
        <menuitem><a href="#/about">About us</a></menuitem>
        <menuitem><a href="#/">Contact</a></menuitem>
    </menu>

    <nav>
        <ul>
            <li ng-repeat="category in categories" ng-animate="">
                <a ng-class="{ active: isActive('{{category.id}}') }" href="#/category/{{category.id}}">
                    {{category.name}}
                </a>
            </li>
        </ul>
    </nav>
    
    <figure><a href="#/"><img src="assets/logo.png" alt="Room24 logo"/></a></figure>

    <strong ng-show="network.error">{{network.error}}</strong>
    <strong ng-show="network.active">Loading...</strong>

</header>

<main ui-view>
    <section class="body" ng-bind-html="content.body"></section>

    <nav class="boxes">
        <ul>
            <li ng-repeat="category in categories">
                <img ng-src="{{category.thumbnail}}" alt="{{category.name}}" />
                <a href="#/category/{{category.id}}"><p>{{category.name}}</p></a>
                <div class="overlay"></div>
            </li>
        </ul>
    </nav>
</main>